<h1 class="text-center heading"><%= local_assigns[:heading] ? local_assigns[:heading] : "Events" %></h1>
<% unless events.empty? %>
  <%= render partial: 'events/event', collection: events, locals: { show_admin_links: local_assigns[:show_admin_links], show_full_description: local_assigns[:show_full_description] } %>
<% else %>
  <p class="text-center">No events found</p>
<% end %>