<h1 class="text-center" style="text-align: center; background-color: #007bff; color: white; padding: 10px;">Attendees</h1>
<ul>
  <% event.attendees.each do |attendee| %>
    <li><%= attendee.name %></li>
  <% end %>
</ul>